/.idea/AmazonProductReview.iml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_12_9_24,_9_16 AM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_12_9_24,_9_33 AM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_12_9_24,_9_33 AM_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_12_9_24__9_16AM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_12_9_24__9_33AM__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_12_9_24,_9_16 AM_[Changes]/shelved.patch
